# Ignore node_modules folder
node_modules/

# Ignore build output
build/

# Ignore TypeScript declaration files
dist/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore Rollup cache
.rollup.cache/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?